<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
  </head>
  <body>
    <div class="content">
      <div class="container">
        <h1>EZ</h1>
      </div>
    </div>
  </body>
</html>
